{% extends 'base.html.twig' %}

{% block title %}Edit Film{% endblock %}

{% block body %}
    <div style="position: absolute; top: 0; right: 0; margin: 1em;">
        <a href="{{ path('app_logout') }}" style="text-decoration: none; font-size: 16px;">Logout</a>
    </div>

    <h1>Edit Film</h1>

    {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_film_index') }}">back to list</a>

    {{ include('film/_delete_form.html.twig') }}
{% endblock %}
