{% extends 'base.html.twig' %}

{% block title %}Nouveau Film{% endblock %}

{% block body %}
    <div style="position: absolute; top: 0; right: 0; margin: 1em;">
        <a href="{{ path('app_logout') }}" style="text-decoration: none; font-size: 16px;">Se déconnecter</a>
    </div>
    
    <h1>Créer un nouveau Film</h1>

    {{ include('film/_form.html.twig') }}

    <a href="{{ path('app_film_index') }}" style="font-size: 0.8em; color:black;">Retour à la liste</a>
{% endblock %}
